// Base styles for generic elements

img {
    max-width: 100%;
}

iframe {
    display: block;
}

body {
    background: #222;
    padding-top: 16px;
}

h1, h2, h3 , h4, h5, h6 {
    font-family: Arial;
}